@import "./container1";
@import "./container2";

body{
    background: #ccc;
    color: #c9c9db;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100vh;
    overflow-y: hidden;
}
.wrapper{
    display: grid;
    grid-template-columns: 5fr 7fr;
    grid-gap: 3px;
    padding-top: 1em;
    div{
        align-items: center;
        border-radius: 9px;
    }
}